* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00a2ff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: rgb(255, 255, 255);
    min-height: 60px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

#header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logo img {
    max-height: 40px;
}

#search {
    width: 25%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

#pesquisa {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 15px;
    width: 100%; /* Garante que a caixa de pesquisa preencha o espaço disponível */
}

#buttons {
    display: flex;
    align-items: center;
}

#notifications-button,
#settings-button {
    background: none;
    border: none;
    cursor: pointer;
}

#notifications-button img,
#settings-button img {
    max-height: 30px;
    margin-right: 10px; /* Espaço entre os botões de notificações e configurações */
}

.content-wrapper {
    display: flex;
    width: 100%;
}

nav {
    background-color: green;
    height: 100vh;
    width: 20%;
}

section {
    background-color: gold;
    height: 100vh;
    width: 60%;
}

aside {
    background-color: deeppink;
    height: 100vh;
    width: 20%;
}

#lista_amigos {
    width: 25%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}


